body {
    background-color: #faf4a5;
    font-family: 'Dosis', sans-serif;
}

.container {
    margin-left: 160px;
}

.welcome {
    font-size: 60px;
}

h2{
    font-size: 36px;
}

.title {
    font-size: 140px;
    margin-top: -80px;
    margin-left: 80px;
    font-weight: bold;
    color: rgb(2, 96, 184);
}

#symbol {
    height: 150px;
    float: left;
}

#symbol2 {
    height: 50px;
    margin-left: 170px;
    margin-top: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

h1 {
    padding-top: 50px;
}

#survey-heading {
    margin-left: 70px;
    margin-top: -20px;
    font-weight: bold;
    color: rgb(2, 96, 184);
    font-size: 55px;
}

.survey-btn {
    background-color: #0165A5;
    color: white;
    font-weight: 500;
    padding: 10px 35px;
}

.survey-btn:hover{
    background-color: #040f77;
    color: white;
}

img#pic1, #pic2, #pic3 {
    float: right;
    border: 24px solid white;
    width: 40%;
    position: absolute;
    border-radius: 50%;
}

img#pic1 {
    z-index: 1;
    top: 2%;
    width: 16%;
    right: 16%;
}

img#pic2 {
    z-index: 2;
    right: 2%;
    width: 20%;
    top: 23%;
}

img#pic3 {
    width: 22%;
    top: 44%;
    right: 18%;
}

form {
    margin-top: 30px;
    background-color: rgb(228, 221, 163);
    border-radius: 3px 60px 3px 60px;
    box-shadow: 0 0 15px;
    padding: 70px;
}

.copyright-survey {
    margin-left: 20px;
}

.copyright {
    margin-left: -160px;
}

.footer-survey {
    margin: 0 auto;
    width: auto;
    bottom: 0;
    position: relative;
}

.footer-home {
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 60px;
    margin: 0 auto;
    font-weight: 700;
}