body{
    background-color: rgb(218, 210, 164); 
    background-image: url(/background.jpg);
    font-family: 'Dosis', sans-serif;
}
.container{
    margin-left: 160px;
}
.welcome{
    font-size: 60px;
}
.title{
    font-size: 140px;
    margin-top: -80px;
    margin-left: 80px;
    font-weight: bold;
    color: rgb(2, 96, 184);
}
#symbol{
    height: 120px;
    float: left;
}
#symbol2{
    height: 50px;
    margin-left: 170px;
    margin-top: 20px;
    position:absolute;
	top: 10px;
	left: 10px;
    z-index: 1;
}

/* .box{
    background-color:  rgb(228, 221, 163);
    border-radius: 5px 100px 5px 100px;
    box-shadow: 0 0 15px;
    height: 550px;
    margin: 50px;
} */
h1{
    padding-top: 50px;
}
#survey-heading{
    margin-left: 70px;
    margin-top: -20px;
    font-weight: bold;
    color: rgb(2, 96, 184);
}
#pics{
    margin-left: 900px;
    margin-top: 10px;
    position:absolute;
	top: 10px;
	left: 10px;
    z-index: 1;
}

form{
    margin-top: 50px;
    background-color:  rgb(228, 221, 163);
    border-radius: 3px 60px 3px 60px;
    box-shadow: 0 0 15px;
    padding: 70px;
}
.copyright{
    margin-left: -160px;
}
footer{
    position: absolute;
    bottom:0;
    width:70%;
    height:60px;  
}